html {
    height: 100%;
}

body {
    background: #ccc;
    color: #333;
    height: 100%;
}

.main-view {
    height: 100%;
}

.hero-unit {
    margin: 30px auto 0 auto;
    width: 350px;
    font-size: 18px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 25px;
}

.app-title {
    width: 230px;
}

.center-unit {
    display: block;
    margin: 5px auto;
}

.showcase {
    border-radius: 4px;
}

.sidebar {
    height: 100%;
}

.content {
    height: 100%;
}

.sidebar-logo {
    width: 25%;
    height: 25%;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 10px;
}

.taglist li {
    margin: 1px;
    border: #CCC solid 1px;
}

.tweet-box {
   display: inline;
   float: left;
   width: 300px;
   height: 300px;
   margin: 10px;
   border-radius: 4px;
   border: #000 solid 1px;
}
