<div class="sidebar well span3">
    <div class="sidebar-header">
        <img class="sidebar-logo pull-left" src="images/logo.png" />
        <div class="sidebar-title pull-left">
            <div class="text-info">Tweetie</div>
            <div class="text-info">Dashboard</div>
        </div>
    </div>

    <div id='followHashTag'></div>
</div>

<div class="content well span9">
    <div class="tweet-box"></div>
    <div class="tweet-box"></div>
    <div class="tweet-box"></div>
    <div class="tweet-box"></div>
</div>
