<div class="sidebar well span3">
    <div class="sidebar-header">
        <img class="sidebar-logo pull-left" src="images/logo.png" />
        <div class="sidebar-title pull-left">
            <div>Tweetie</div>
            <div>Dashboard</div>
        </div>
    </div>
    <div class="input-prepend input-append">
        <span class="add-on">#</span>
        <input class="span9" type="text" placeholder="hashtag">
        <button class="btn">Follow</button>
    </div>
</div>

<div class="content well span9">
</div>
